html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ababab;
}

.controls {
    margin: 20px;
}

.canvas-container{
    margin: 20px;
    position: relative;
}

.source{
    margin: 20px;
    color: #ab3b10;
}

.source a{
    text-decoration: none;
    color: #445aab;
}

.hide{
    display: none;
}

.show{
    display: inline;
}

canvas{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

.bgTransparent{
    background-color: transparent;
}